 body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
	height: 100%;
	background: #273547;
}

#root, #root>div, main, .full-0-che {
  width: 100%;
	height: 100%;
} 

main {
	padding-top: 40px;

}

.pt-perspective, .pt-perspective>div {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
	overflow: auto;
}
